{% block body %}

<div class="container">
    <div class="row">
        <div class="span12">
            <h1 class="header">TeamHackbright's AWESOME Hacker Olympics Leaderboard</h1>
        </div>
    <div class="assignment">
        
    <table border="1">
    <tr>
    <th colspan="3">Current Leaderboard!</th>
    </tr>
    <th style="padding:8px;">Team #</th><th style="padding:8px;">Team</th><th style="padding:8px;"> Points</th><th style="padding:8px;"></th>
    </tr>
 <!--Each item has one team. Each row is one team-->
            {% for key in leaderboard.items() %}
        <tr>
 <!--First column prints the position-->
            <td><h5>{{ key }}</h5></td>
<!--2nd column prints the name-->
            <td>
                <ul>
                    <b>{{leaderboard[key]}}</b>                   
                </ul>   
            </td>
<!--3rd column prints ?-->
            <td>
                <ul>
                    Put something here
                </ul>
            </td>
                                &nbsp;
            </td>
        </tr>
            {% endfor %}
            </table> 
            </div>
    <p>  
    </div>
</div>
{% endblock %} 

